# Riippuvuudet ja koontitiedostot
node_modules/
dist/
ndist/

# Netlify-kohtaiset
.netlify/

# Käyttöjärjestelmän turhat tiedostot
.DS_Store
Thumbs.db

# Ympäristömuuttujat (ERITTÄIN TÄRKEÄ: sisältää API-avaimet)
.env
.env.local
.env.*

# Salausavaimet (Estää vahingossa luotujen avainten vuotamisen!)
*.pem
*.key